<Page>
  <ActionBar title="NS Vue POC 0.1"></ActionBar>
  <FlexboxLayout flexDirection="column" justifyContent="center" alignItems="center">
    <StackLayout orientation="horizontal" >
      <Label color="#42b883" fontSize="20" text="NativeScript Vue POC"></Label>
      <Label verticalAlignment="center" color="#35495e" fontSize="20" text="code" class="md"></Label>
    </StackLayout>
    <Label color="#35495e" fontSize="16" text="Module Folder Structure"></Label>
    <Label color="#35495e" fontSize="12" text="with Material Icons Font"></Label>
  </FlexboxLayout>
</Page>
